
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


.custom-input input:focus{
	outline: none;
	border: none;
}

input:focus{
	outline: none;
	border: none;
	border-bottom: 1px solid #00ff00;
}


@font-face {
font-family: "OpenSans";
src: url("../fonts/OpenSans-Regular.ttf"); 
}


.container{
	font-family: "OpenSans";
	font-size: 12pt;
	color: #888;
	background: #f7f7f7;
	
}


.text-box{
	font-family: "OpenSans";
	font-weight: bold;
	font-size: 14pt;
	margin-top:20px;
	margin-bottom: 10px;
}


.card-content{

	padding-left: 20px;
	padding-right: 20px;
	height: 210px;
	width: 360px;
	border-radius: 15px;
	background: #fff;
	box-shadow: 0px 3px 20px 0px rgba(115, 115, 115, 0.5);

}


.card input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #000;
	font-size: 16pt;
	font-weight: bold;
}


.inputCurrency{
	display: table;
	border: 2px solid #ccc;
	background: #fff;
	padding: 2px;
	margin-bottom: 15px;
}

.custom-input{
	
	padding: 3px;
	width: 100%;
	display: table-cell;
	border: none;
	font-size: 14pt;
	font-weight: bold;
}

.input-sender-card{
	color: #999;
	border: none;
	font-size: 11pt;
	position: relative;
}


.input-group {
	border: 1px solid #999;
}

#inputEmail{
	border: 1px solid #999;
	border-radius: 0px;

}

#inputEmail:focus{
	border: 1px solid #00ff00;

}

.form-control{
border:none ;
}

.form-control:focus {
	border: 1px solid #00ff00;
}

.input-group-addon  {
	background: white;
	border: none;
}



.brand-card{

	margin-left: 260px;
	margin-bottom: 10px;
	height: 45px;
	
}

#currency{

	display: table-cell;
}


#visa-sender, #maestro-sender, 
#mastercard-sender,#visa-recipient,
#maestro-recipient, 
#mastercard-recipient {

	position: relative;
	visibility: hidden;


}

#visa-sender, #visa-recipient{

	position: relative;
	top: 15px;
	
}

#maestro-sender,#maestro-recipient{
	position: relative;
	top: -22px;

}


#mastercard-sender,#mastercard-recipient{
	position: relative;
	top: -65px;
}

#btn{
	margin-top: 20px;
	margin-bottom: 20px;
}

#MMYY-block{

	display: table;
	margin-top: 10px;
}