
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

a {
  color: green;
  font-size: 1.5rem;
}

a:hover {
  color: limegreen;
  text-decoration: none;
}


.btn-success {
  background: green;
}

.card-content {
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 3px 20px 0px rgba(115, 115, 115, 0.5);
  height: 210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 360px;
}

.card input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
}

.container {
  color: #888;
  background: #f7f7f7;
  font-family: "OpenSans";
  font-size: 1.5rem;
}

.custom-input input:focus {
  border: none;
  outline: none;
}

.dropdown-menu {
  right: 80%;
  left: auto;
}

.fix-position {
  transform: translateY(15px);
}

.glyphicon-log-in,
.glyphicon-option-horizontal {
  color: green;
  font-size: 2rem;
}

.glyphicon-option-horizontal {
  transform: translateY(5px);
}

.glyphicon-option-horizontal:hover {
  color: limegreen;
}

.glyphicon-log-in:hover {
  color: limegreen;
}

input:focus {
  border: none;
  border-bottom: 1px solid #00ff00;
  outline: none;
}

.login-btn:hover {
  background: none;
}

.navbar-custom {
  border: none;
  background: none;
}

.navbar-nav {
  font-size: 1.3rem;
}

.navbar-btn {
  background: none;
  border: none;
}

.btn-danger {
  background: red;
  border: none;
  font-size: 1.3rem;
}

.text-box {
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.input-group {
  border: 1px solid #999;
}

#input-email {
  border: 1px solid #999;
  border-radius: 0px;
}

#input-email:focus {
  border: 1px solid #00ff00;
}

.form-control {
  border: none;
}

.form-control:focus {
  border: 1px solid #00ff00;
}

.input-group-addon {
  background: white;
  border: none;
}

.brand-card {
  height: 45px;
  margin-left: 260px;
  margin-bottom: 10px;
}

#visa-sender,
#maestro-sender,
#mastercard-sender,
#visa-recipient,
#maestro-recipient,
#mastercard-recipient {
  position: relative;
  visibility: hidden;
}

#visa-sender,
#visa-recipient {
  position: relative;
  top: 15px;
}

#maestro-sender,
#maestro-recipient {
  position: relative;
  top: -22px;
}

#mastercard-sender,
#mastercard-recipient {
  position: relative;
  top: -65px;
}

#btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#MMYY-block {
  margin-top: 18px;
  font-size: 1.5rem;
}

#YY-input,
#MM-input,
#CVV-input {
  text-align: center;
  width: 50px;
}
