
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

a{
  color: green;
  font-size: 1.5rem;
}

a:hover{
  color:limegreen;
  text-decoration: none;
}

.brand-card{
  height: 45px;
  margin-left: 260px;
  margin-bottom: 10px;
}

.btn-danger{
  background: red;
  border: none;
  font-size: 1.3rem;


.btn-success{
  background: green;
}

#btn{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-content{
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 3px 20px 0px rgba(115, 115, 115, 0.5);
  height: 210px;
  padding-left: 20px;
  padding-right: 20px;
  width: 360px;
}

.card input{
  border: none;
  border-bottom: 1px solid #000;
  font-size: 16pt;
  font-weight: bold;
  width: 100%;
}

#CVV-input{
  text-align:center;
  width: 40px;
}

.container{
  color: #888;
  background: #f7f7f7;
  font-family: "OpenSans";
  font-size: 12pt;
}

.custom-input input:focus{
  border: none;
  outline: none;
}

.custom-input{
  border: none;
  display: table-cell;
  font-size: 14pt;
  font-weight: bold;
  padding: 3px;
  width: 100%;
}

#currency{
  display: table-cell;
}

.dropdown-menu{
  right: 80%;
  left: auto;
}

.fix-position{
  transform: translateY(15px);
}

.form-control{
  border:none ;
}

.form-control:focus {
  border: 1px solid #00ff00;
}

.glyphicon-log-in, .glyphicon-option-horizontal{
  color: green;
  font-size: 2rem;
}

.glyphicon-option-horizontal{
  transform: translateY(5px);
}

.glyphicon-option-horizontal:hover{
  color: limegreen;
}

.glyphicon-log-in:hover{
  color: limegreen;
}

input:focus{
  border: none;
  border-bottom: 1px solid #00ff00;
  outline: none;
}

.inputCurrency{
  border: 2px solid #ccc;
  background: #fff;
  display: table;
  margin-bottom: 15px;
  padding: 2px;
}

.input-sender-card{
  border: none;
  color: #999;
  font-size: 11pt;
  position: relative;
}

.input-group {
  border: 1px solid #999;
}

.input-group-addon  {
  background: white;
  border: none;
}

#inputEmail{
  border: 1px solid #999;
  border-radius: 0px;
}

#inputEmail:focus{
  border: 1px solid #00ff00;
}

.login-btn:hover{
  background: none;
}

#maestro-sender,
#maestro-recipient{
  position: relative;
  top: -22px;
}

#mastercard-sender,
#mastercard-recipient{
  position: relative;
  top: -65px;
}

#MM-input{
   text-align:center;
   width: 50px;
 }

#MMYY-block{
  margin-top: 18px;
  font-size: 1.5rem;
}

.navbar-custom{
  border: none;
  background: none;
}

.navbar-nav{
  font-size: 1.3rem;
}

.navbar-btn{
  background: none;
  border: none;
}
.table-cell{
  display: table-cell;
}

.table{
  display: table;
}

.text-box{
  font-family: "OpenSans";
  font-weight: bold;
  font-size: 14pt;
  margin-top:20px;
  margin-bottom: 10px;
}

#visa-sender,
#maestro-sender,
#mastercard-sender,
#visa-recipient,
#maestro-recipient, 
#mastercard-recipient {
  position: relative;
  visibility: hidden;
}

#visa-sender,
#visa-recipient{
  position: relative;
  top: 15px;
}

#YY-input{
  text-align:center;
  width: 50px;
}